@model MyWalletApp.Models.IngresoViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>Seguro(a) que desea eliminar este ingreso?</h3>
<div>
    <h4>Eliminar Ingreso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ingreso.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingreso.Monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingreso.Fuente.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingreso.Fuente.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingreso.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingreso.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingreso.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingreso.Fecha)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a ingresos", "Index", new { id = Model.Ingreso.Id })
        </div>
    }
</div>
