@model MyWalletApp.Logic.Models.ServicioDto

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar Servicio</h2>

<h3>Seguro(a) que desea eliminar este servicio?</h3>
<div>
    <h4>Eliminar Servicio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaPago.Day)<span> de cada mes</span>
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Volver a servicios", "Index")
        </div>
    }
</div>
