@model MyWalletApp.Logic.Models.ServicioDto

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var EsPorMes = false;
    var EsPorAnno = false;

    if (Model.EsPorMes)
    {
        EsPorMes = true;
        EsPorAnno = false;
    }
    else
    {
        EsPorMes = false;
        EsPorAnno = true;
    }

    var tiposPago = new List<SelectListItem>()
            {
                new SelectListItem()
                {
                    Text = "Mensualmente",
                    Value = "True",
                    Selected = EsPorMes
                },
                new SelectListItem()
                {
                    Text = "Anualmente",
                    Value = "False",
                    Selected = EsPorAnno
                }
            };
}

<h2>Editar Servicio</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Editar Servicio</h4>
    <hr />
    @Html.ValidationSummary(true, "Hubo un problema al tratar de editar el servicio. Intente de nuevo mas tarde", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Monto, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Monto, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Monto, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EsPorMes, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.EsPorMes, tiposPago, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FechaPago, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.FechaPago, @"{0:dd/MM/yyyy}", new { placeholder = "dd/mm/yyyy", @class = "form-control normal-datepicker" })
            @Html.ValidationMessageFor(model => model.FechaPago, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Actualizar" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Volver a servicios", "Index")
</div>
