@model MyWalletApp.Models.GastoViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gasto</h2>

<h3>Seguro(a) que desea eliminar este gasto?</h3>
<div>
    <h4>Eliminar Gasto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Gasto.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gasto.Monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gasto.Servicio.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gasto.Servicio.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gasto.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gasto.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gasto.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gasto.Fecha)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a gastos", "Index", new { id = Model.Gasto.Id })
        </div>
    }
</div>
