@model MyWalletApp.Models.GastoViewModel

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalle</h2>

<div>
    <h4>Detalle Gasto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Gasto.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gasto.Monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gasto.Servicio.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gasto.Servicio.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gasto.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gasto.Fecha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Gasto.Id }) |
    @Html.ActionLink("Volver a gastos", "Index")
</p>
