@model MyWalletApp.Models.GastoViewModel

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Editar Gasto</h4>
    <hr />
    @Html.ValidationSummary(true, "Hubo un problema al tratar de editar el gasto. Intente de nuevo mas tarde", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Gasto.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Gasto.Monto, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Gasto.Monto, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Gasto.Monto, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ServiciosDisponibles, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Gasto.Servicio.Id, Model.ServiciosDisponibles, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ServiciosDisponibles, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Gasto.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Gasto.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Gasto.Fecha, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Gasto.Fecha, @"{0:MM/dd/yyyy}", new { placeholder = "mm/dd/yyyy", @class = "form-control normal-datepicker" })
            @Html.ValidationMessageFor(model => model.Gasto.Fecha, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Actualizar" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Volver a gastos", "Index")
</div>
