@model MyWalletApp.Models.ProyeccionServicioViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="btn">Proyecciones</h2>

<div class="row">
    <div class="col-md-6">
        <div id="chartContainer" style="height: 370px; width: 100%;"></div>
        <label>Total necesario para cubrir gastos del proximo mes: <span id="totalGastos">@Model.Proyecciones.Sum(p => p.y)</span> colones</label>
    </div>
    <div class="col-md-6">
        <div id="chartContainer2" style="height: 370px; width: 100%;"></div>
        <label>Total Ahorro: <span id="totalAhorros">0</span> colones</label>
    </div>
</div>

@using (Html.BeginForm())
{
    <table class="table">
        <tr>
            <th>
                @Html.Label("Servicio")
            </th>
            <th>
                @Html.Label("Monto")
            </th>
            <th>
                @Html.Label("Fecha")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Proyecciones)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.indexLabel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.y)
                </td>
                <td>
                    @if (item.esPorMes)
                    {
                        @Html.DisplayFor(modelItem => item.fechaPago)<span> de cada mes</span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.fechaPago)<span> de cada año</span>
                    }
                </td>
                <td>
                    <button onclick="submitBtn(@Json.Encode(item))" type="button" class="btn btn-link">Eliminar</button>
                    @*@Html.ActionLink("Eliminar", "Delete", new { id = item.id })*@
                </td>
            </tr>
        }
    </table>
}

<!-- Scripts -->
@section scripts{
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script>
        var options = {
                animationEnabled: true,
                title: {
                    text: "Pagos del Proximo Mes",
                    fontColor: "Peru"
                },
                axisY: {
                    tickThickness: 0,
                    lineThickness: 0,
                    valueFormatString: " ",
                    gridThickness: 0
                },
                axisX: {
                    tickThickness: 0,
                    lineThickness: 0,
                    labelFontSize: 18,
                    labelFontColor: "Peru"
                },
                data: [{
                    indexLabelFontSize: 26,
                    toolTipContent: "<span style=\"color:#62C9C3\">{indexLabel}:</span> <span style=\"color:#CD853F\"><strong>{y} colones. Fecha de pago: {FechaPago}</strong></span>",
                    indexLabelPlacement: "inside",
                    indexLabelFontColor: "white",
                    indexLabelFontWeight: 600,
                    indexLabelFontFamily: "Verdana",
                    color: "#62C9C3",
                    type: "bar",
                    dataPoints: @Html.Raw(Json.Encode(Model.Proyecciones))
                }]
            };
        $("#chartContainer").CanvasJSChart(options);


        var options2 = {
                animationEnabled: true,
                title: {
                    text: "Ahorro por servicio",
                    fontColor: "Peru"
                },
                axisY: {
                    tickThickness: 0,
                    lineThickness: 0,
                    valueFormatString: " ",
                    gridThickness: 0
                },
                axisX: {
                    tickThickness: 0,
                    lineThickness: 0,
                    labelFontSize: 18,
                    labelFontColor: "Peru"
                },
                data: [{
                    indexLabelFontSize: 26,
                    toolTipContent: "<span style=\"color:#62C9C3\">{indexLabel}:</span> <span style=\"color:#CD853F\"><strong>{y} colones. Fecha de pago: {FechaPago}</strong></span>",
                    indexLabelPlacement: "inside",
                    indexLabelFontColor: "white",
                    indexLabelFontWeight: 600,
                    indexLabelFontFamily: "Verdana",
                    color: "#62C9C3",
                    type: "bar",
                    dataPoints: []
                }]
            };
            $("#chartContainer2").CanvasJSChart(options2);
    </script>
}

